html {
  background: #f2f1f4;
  color: #19171c;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.fa-solid {
  margin: 10px;
}

.sectionContainer {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 500px;
}

.description {
  display: none;
}

.active + .description {
  display: block;
}

/* Part 1
Your FAQ should fulfill the following basic requirements:

Click a section title to expand its description.
Click the title again to collapse the description.
This assignment is a little different than previous assignments. For this one, we've given you some code, but you need to connect the dots and make it work. In the code folder, you'll find an HTML file, a CSS file, and a JavaScript file. You will need to complete the following tasks in order to fulfill the requirements set out above:

Link to the JavaScript file from the HTML, so that the JavaScript gets run.
Use CSS to hide the ".description" divs.
The JavaScript file is set up to add toggle an ".active" class on the ".title" divs when you click the title (use the inspector to see this in action). Use an "adjacent" CSS selector to select the panel next to an ".active" element and set it to display: block; to make it visible. Read this to learn about the adjacent selector.
Once you have one section showing and hiding, you need to update the JavaScript to call the toggle function for section2 and section3. */
